html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.content-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

@media (max-width: $breakpoint-sm) {
    .content-container {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
    }
}

@media (min-width: $breakpoint-sm) {
    .content-container {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }
}

@media (min-width: $breakpoint-md) {
    .content-container {
        max-width: 720px;
    }
}

@media (min-width: $breakpoint-lg) {
    .content-container {
        max-width: 960px;
    }
}

@media (min-width: $breakpoint-xl) {
    .content-container {
        max-width: 1140px;
    }
}

.site-header {
    min-width: 360px;

    .navbar {
        padding-right: 0;

        .nav-link {
            padding-left: 1rem;
            padding-right: 0;

            span {
                padding-left: 0.5rem;
            }
        }
    }
}

.site-main {
    min-width: 360px;
    overflow-x: auto;

    &:before {
        content: "";
        padding-top: 3rem;
        display: block;
    }
    &:after {
        content: "";
        padding-bottom: 3rem;
        display: block;
    }
}

.site-footer {
    min-width: 360px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
}

.post-list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    .post-list-item {
        display: inline-block;

        .title {
            margin-top: 0;
            margin-bottom: 0;
        }
        .excerpt {
            font-size: 1.125rem;
            line-height: 1.6;
        }
        .metadata {
        }
    }
}

.post {
    .title {
        margin-top: 0;
        margin-bottom: 0;
    }

    .metadata {
        font-size: 1rem;
    }
}

.page {
    .title {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

.content {
    font-size: 1.125rem;

    h1, h2, h3 {
        &:after {
            content: "";
            border-top: solid 1px rgb(222, 226, 230);
            width: 100%;
            display: inline-block;
        }
    }
}

@media (max-width: $breakpoint-sm) {
    .site-header {
        .nav-link {
            span {
                display: none;
            }
        }
    }
}

@media (max-width:$breakpoint-md) {
    .site-header {
    }

    .site-main {
        &:before {
            padding-top: 2rem;
        }
        &:after {
            padding-bottom: 2rem;
        }
    }

    .post-list {
        padding-left: 0;
        padding-right: 0;

        .post-list-item {
            .excerpt {
                font-size: 1rem;
            }
        }
    }

    .content {
        font-size: 1rem;
    }
}
