/* == Syntax highlight == */
div.highlighter-rouge,
figure.highlight {
    position: relative;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    background: #263238;
    border-radius: 4px;
    font-family: "D2Coding", Monaco, Consolas, "Lucida Console", monospace;
    font-size: 1rem;
    line-height: 1.6;
}

/*div.highlighter-rouge>pre,
pre.highlight,
figure.highlight*/

div.highlighter-rouge pre.highlight,
figure.highlight>pre {
    margin: 0;
    padding: 1em;
}
