/* == tables == */
table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $tableBorderColor;
  border-bottom: 2px solid mix(#000, $tableBorderColor, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $tableBorderColor, 25%);
  font-size: 1rem;
}

tr, td, th {
  vertical-align: middle;
}

@media (max-width:$breakpoint-md) {
    td {
      padding: 0.375em;
      font-size: 0.875rem;
    }
}
