/* == Typography == */
body {
    font-size: 1rem;
    line-height: 2rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.0rem;
}

h2, .h2 {
    font-size: 1.75rem;
}

h3, .h3 {
    font-size: 1.5rem;
}

h4, .h4 {
    font-size: 1.25rem;
}

h5, .h5 {
    font-size: 1.125rem;
}

h6, .h6 {
    font-size: 1rem;
}

code, pre code {
    font-family: $codeFont;
}

blockquote {
    padding-left: 1rem;
    border-left: solid 5px #6f777d;
    font-style: italic;
    color: #494e52;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.75rem;
    border-radius: 4px;
}

blockquote.info {
    padding: 1rem;
    border: 0px;
    background-color: #ebf5f8;
    font-style: normal;
}

blockquote>p {
    margin: 0;
}


@media (max-width:$breakpoint-md) {
    body {
        font-size: 0.875rem;
        line-height: 1.6rem;
    }

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    h1, .h1 {
        font-size: 1.75rem;
    }

    h2, .h2 {
        font-size: 1.5rem;
    }

    h3, .h3 {
        font-size: 1.25rem;
    }

    blockquote {
        padding-left: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}
