---
layout: default
---
<article class="post">
  <header class="title text-center font-weight-bold pt-1 pb-1">
    {{ page.title }}
  </header>
  <section class="metadata text-center text-muted mt-2 mb-4">
    <span>
      <i class="fas fa-calendar-alt"></i> <span><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%Y-%m-%d" }}</time></span>
    </span>
    {%- if page.tags.size > 0 -%}
      <span class="ml-3">
        <i class="fas fa-tags"></i>
        {%- for tag in page.tags -%}
          <span class="tag ml-1"><a class="text-muted text-decoration-none" href="{{ "/tags/" | relative_url }}#{{ tag | slugify | downcase }}">#{{ tag }}</a></span>
        {% endfor %}
      </span>
    {% endif %}
{% comment %}
    {%- if page.categories.size > 0 -%}
      <span class="ml-3">
        <i class="fas fa-folder-open"></i>
        {%- for category in page.categories -%}
          <span class="category ml-1"><a class="text-muted text-decoration-none" href="#">{{ category }}</a></span>
        {% endfor %}
      </span>
    {% endif %}
{% endcomment %}
  </section>
  <hr/>
  <section class="content pt-3 pb-3">
    {% toc %}
    <hr>
    {{ content }}
  </section>
</article>
